<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1" >
    <parameter name="browser"  value="chrome"/>
    <test name="Chrome" parallel="methods">
        <parameter name="browser"  value="chrome"/>
        <classes>
            <class name="test.OtherTest"/>
            <class name="test.SomeTest"/>
        </classes>
    </test>
</suite>